
<h2>currently</h2>
<p>aspiring computational neuroscientist & neuroethologist. undergraduate reseacher at the neuroethology lab, <a href="https://www.ashoka.edu.in/">ashoka university</a>. musician. illustrator. writer. woman in computer science.</p>

<h2>research interests</h2>
<p>insect audition | reinforcement learning | optimal control & decision theory | information theory | dynamical systems | sensorimotor control | diversity in academia 
</p>



<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/shw3ta">github</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/tundra_theraimy">@tundra_theraimy</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="http://shw3ta.github.io/assets/cv.pdf">cv</a>
  </li>
</ul>