<h2>About Me</h2>
<p>Aspiring Computational Neuroscientist & Neuroethologist. Undergraduate reseacher at the Neuroethology Lab, Ashoka University. Musician. Illustrator. Writer. Woman in Computer Science.</p>

<h2>Ongoing Projects</h2>
<ul>
  <li> <a href="https://diverseneuro.org">DiverseNeuro.org</a>, a collaborative research project between <a href = "https://www.iiserpune.ac.in/">IISER Pune</a> and <a href="https://www.ashoka.edu.in/">Ashoka University</a>
  </li>
  <li>Modelling bush-cricket song pattern production and recognition | Project under Prof. K Bittu</li>
  <li>Improving Covalent Magnetic Tweezers | Project under Prof. Shubhasis Haldar & Prof. Debayan Gupta [On-hold due to the COVID-19 pandemic] </li>
</ul>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/shw3ta">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/tundra_theraimy">@tundra_theraimy</a>
  </li>
  <!--<li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="http://shweta.github.io/assets/CV">CV</a>
  </li>-->
</ul>
